# Configurações do Backend IFesporte
PORT=7777
MONGODB_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/ifesporte?retryWrites=true&w=majority
JWT_SECRET=sua_chave_secreta_jwt_longa_e_segura
CLIENT_URL=https://seu-frontend-ifesporte.onrender.com
NODE_ENV=production
